*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    height: 100%;
    width: 100%;
}

button{
    color: white;
    background-color: lightseagreen;
    font-size: 20px;
    padding: 15px 20px;
    margin: 40px;
    border: 3px solid black;
    border-radius: 30%;
    

}

button:hover 
{
    color: lightseagreen;
    background-color: white;
    border: 3px solid lightseagreen;

}