*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
}

#parent
{
    height: 100%;
    width: 100%;
    /* color: black; */
    white-space: nowrap;
    overflow-x: auto;
    /* background-color: blue; */
    background-color: rgba(5, 79, 75, 0.849);
    

}
#parent::-webkit-scrollbar
{
    /* background-color: greenyellow; */
    /* height: 19px; */
}
/* #parent::-webkit-scrollbar-thumb
{
    background-color: lightslategray;
    border-radius: 50%;
} */

h1
{
    height: 150px;
    width: 270px;
    font-size: 70px;
    /* gap: 50px; */
    font-weight: 500px;
    font-family: Comic Gecko Pro;
    /* background-color: red; */
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: white;
    display: inline-block;
    color: transparent;
    animation-name: scroll;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:linear  ;

}

@keyframes scroll 
{
    from{
        transform: translateX(0)

    }
    to
    {
        transform: translateX(-100%)     
    }
};