*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}

#page1
{
    height: 100vh;
    width: 100%;
    background-color: lightgreen;
}

#page2
{
    height: 100vh;
    width: 100%;
    background-color: rgb(82, 178, 210);
    display: flex;
    align-items: center;
    justify-content: center;
}
#box
{
    height: 400px;
    width: 400px;
    background-color: rgb(44, 32, 178);
}
#page3
{
    height: 100vh;
    width: 100%;
    background-color: lightsalmon;
}