*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    height: 100%;
    width: 100%;
}

#main
{
    display: flex;
    background-color: black;
    height: 100%;
    width: 100%;
    font-family: Gilroy-Lightitalic;


}

#nav
{
    height: 30px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 200px;
    gap: 20px;
    color: white;
}
#one
{
    /* display: flex; */
    /* justify-content: flex-start; */
    margin-left: 70px;
    margin-right: 1020px;
}
h5
{
    font-weight: 200;
}

img
{
    height: 35%;
    width: 35%;
    /* display: flex; */
    /* align-items: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: relative; */

}
#imgone{
    rotate: 8deg;
}

#imgtwo{
    rotate: 5deg;
}
#imgthree{
    rotate: 0deg;
}

h1{
    position: absolute;
    color: white;
    font-size: 50px;
    margin-top: 250px ;
    margin-right: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-500px, -100px);
    /* position: absolute; */
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
}